.nav {
  padding: 2rem;
}

.nav .container {
  padding: 1rem 2rem;
}

.container .btns {
  display: flex;
  justify-content: space-between;
}

.btns .btn {
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 2rem;
  text-transform: uppercase;
  cursor: pointer;
  width: 15rem;
}
